venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
*.egg-info/
dist/
build/
*.log
.DS_Store
.ipynb_checkpoints/
*.sqlite3
*.db
.mypy_cache/
.cache/
*.cover
.coverage
htmlcov/
*.bak
*.swp
*.tmp
*.~ 
*.idea/
*.vscode/